* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 3vh 0 2vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.search-bar-contents {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 1vw;
}

.search-form {
  width: 65vw;
  height: 25px;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  font-size: 14px;
  width: 100%;
  height: 25px;
  padding-left: 10px;
  display:flex;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #FF7d32;
  padding: 8px;
  align-items:center;
}

.search-icon {
  width: 80%;

}

.player {
  flex-basis: 630px;
  max-width: 630px;
  box-sizing: border-box;
}

.nav {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}


.logout {
  margin-left:3vw;
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  color: #333333;
}

.sign-up {
  margin-left:3vw;
  text-decoration: none;
  color: #333333;
}