a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  width: 100% ;
}


.main-contents {
  width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display:flex;
  justify-content:space-between;
}

.menu {
  width: 170px;
  padding-top:2vh;
  padding-right: 8px;
  padding-left: 12px;
  border-right: 1px solid #ddd;
  background-color: #dce0e2;
  font-size:13px;
}

.ranking {
  width:240px;
  padding-top:2vh;
  padding-left: 12px;
  border-left: 1px solid #ddd;
  font-size:13px;
  background-color: #FFF;

}

/* 商品一覧 */

.item-contents {
  box-sizing: border-box;
  width:100%;
  min-height: 400px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  overflow: scroll;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100% ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */