/* 全体 */

.item-all{
  width: 100%;
  display:flex;
  justify-content:center;
}

.item-show {
  background-color: #f8f8f8;
  width: 1200px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  padding: 0;
}
/* ①menu */
.menu {
  width: 190px;
  padding-top:2vh;
  padding-right: 8px;
  padding-left: 12px;
  border-right: 1px solid #ddd;
  background-color: #dce0e2;
  font-size:13px;
}

/* ②投稿の概要  */
.item-box {
  box-sizing: border-box;
  width:100%;
  min-height: 80vh;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  0;
  overflow: scroll;
  position:relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* 
.trim{
  position:relative;
  max-width:100%;

}
.trim:after{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width: 100%;
  height:100%;
  /* 塗りつぶす */
  /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, #fff 100%);  */


.item-box-img {
  width: 100%;
  /* max-height:500px; */
  position: absolute;
  filter: blur(25px);
  /* filter: grayscale(100%); */
  z-index: 0;
  object-fit: cover;
}

.item-box-img:after{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width: 100%;
  height:100%;
  /* 塗りつぶす */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, #fff 100%); 
}

.sound-audio {
  width: 400px;
  height: 54px;
  margin-top: 20px;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.LR-box {
  width:auto;
  height: 250px;
  font-size: 18px;
  display:flex;
  /* justify-content:center;  
  flex-direction:column; */
  margin:auto 20px 20px 20px;
  border-radius: 25px;
  z-index:3;
  /* background: ; */
}

.L-box {
  width:200px;
  display:flex;
  flex-direction:column; 
  align-items: center;
  justify-content:space-between;
  /* background-color:red; */
  margin:20px 10px 20px 20px;
}

.R-box {
  font; white;
  width:auto;
  display:flex;
  flex-direction:column; 
  justify-content:space-between;
  /* background-color: yellow; */
  margin:20px 20px 20px 20px;
}

.R-box>.name {
  font-weight: bold;
  font-size: 25px;
}

.R-box>.genre {
  font-weight: bold;
  font-size: 12px;
}


.sound-user-img {
  width: 100%;
  border-radius: 40px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
}

.favorite-btn {
  border-radius: 40px;
  width: 160px;
  /* min-width: 160px; */
  color:white;
  background-color: #FF7d32;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* ③右  */

.right-bar {
  width: 190px;
  padding-top:2vh;
  padding-right: 8px;
  padding-left: 12px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}


.comment-box {
  width: 100%;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #FF7d32;
  border: 1px solid #FF7d32;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.comments {
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #FF7d32;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #FF7d32;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
